/*targeting root of page*/
body {
    background-color: rgb(235, 217, 217);
}

 /*targets all */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
    font-size: 63,0%;
    font-family: Playfair Display;
}

/* "Ready" and questions*/
h1 {
    color: rgb(150, 88, 150); 
    font-size: 4rem;
    margin-bottom: 5rem;

    
}

/* Play and highscore*/
h2 {
    font-size: 4.0rem;
    margin-bottom: 4rem;

}

/* targeting class container*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}


/* class div Home*/
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Play button */ 
.btn {
    font-size: 2.5rem;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(247, 242, 247);
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 4px;
}

/* highscore button*/
#highscore-btn {
    background: linear-gradient(#e66465, #9198e5);;
}

/* CSS of the end page*/
.end-form-container {
    max-width: 30rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

input {
    box-shadow: lightpink;
    border: none;
    font-size: 1.8rem;
    padding: 1.5rem;
    width: 20rem;
    margin-bottom: 1rem;
}

input::placeholder {
    color: aquamarine;
}

#username {
    outline: none; 
    width: 100%;
    margin-bottom: 3rem;
}

#end-text {
    font-size: 2.4rem;
    text-align: center;
    color: #fff; 
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: lightpink;
}