/* targeting the body*/
body {
    color: rgb(3, 3, 3);
}

/* targeting A,B,C,D containers*/
.choice-container {
    display: flex;
    min-width: 30rem;
    font-size: 3rem;
    background: rgb(146, 108, 184);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.8rem;
}


.choice-container:hover {
    cursor: grab;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;

}

.choice-text {
    width: 100%;
    padding: 2rem;
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1)
    100%);
}


.correct {
    background: green;
}

/* heads up display */ 
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 5rem;
}

.hud-main-text {
    text-align: center;
}


/* Targeting Choice*/ 
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 30rem;
    }
}